@font-face {
  font-family: Lobster;
  src: url('fonts/lr.ttf');
        
}
#LinkedinIcon {
  color: rgb(0, 127, 237);
}
#linkedinIcon {
  color: rgb(0, 127, 237);
}
#githubIcon {
  color: rgb(102, 43, 129);
}
#GithubIcon {
  color: rgb(102, 43, 129);
}
#fbIcon {
  color: rgb(59, 89, 163);
}
#FbIcon {
  color: rgb(59, 89, 163);
}
#twitterIcon {
  color: rgb(0, 172, 237);
}
#TwitterIcon {
  color: rgb(0, 172, 237);
}
#fccIcon {
  color: darkgreen;
}
#FCCIcon {
  color: darkgreen;
}
.nav-pills {
  font-family: "Lobster" serif;
  font-size: 1.7em;
  background-color: black;
  margin-bottom: 10%;
}
h1 {
  padding: 0;
  margin-top: 0px;
}
body {
  font-family:Lobster;
  
  color: white;
}
.page1 {
  background-image: url("http://unsplash.com/photos/DgtRKZOOE0w/download?force=true");
  background-size: cover;
  height: 600px;
  padding-top: 100px;
}
h1 {
  padding: 0;
  margin-top: 0px;
  font-size: 5.0em;
}
.link-button {
  color: white;
  background-color: black;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 1.5em;
  
}
.block {
  background-color: black;
  color:white;
  opacity: .8;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  -webkit-animation-delay:2s;
}
.btnList {
  padding-top: 20px;
  -webkit-animation-delay:2s;
}
.page2 {
  background: url("http://unsplash.com/photos/1ak3Z7ZmtQA/download?force=true");
  background-size: cover;
  height: 600px;
  padding-top: 5%;
  padding-right: 5%;
  color:white;
}

p {
  line-height: 200%;
}
.me {
  height: 400px;

  
  border-radius: 75%;
}
.page3 {
  background: url("http://unsplash.com/photos/Y_YSuBfQCmI/download?force=true");
  background-size: cover;

  padding-top: 5%;
  padding-right: 5%;
}
.paddings {
  padding-top: 2%;
  padding-bottom: 2%;
}
.page4 {
  background: url("http://unsplash.com/photos/bmnuRawqdsI/download?force=true");
  background-size: cover;
  height: 400px;

  padding-top: 5%;
}
.footer {
  background-color: black;
}
.footer p {
  font-size: 15px;
}
.paddingBTN {
  width: 200px;
  margin-bottom: 25px;
}

.sizeo {
  font-size: 25px;
}
.hel{
  font-family:Helvetica;
  animation-iteration-count: 2;
}
#pp{
  font-family:"Passion One";
}

