@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
  --main-color: #fdcd3b;
  --accent-color: #2a3a3f;
}

body {
  margin: 0;
}

/*landing styling*/
.landing {
  height: 100vh;
  background-image: url("images/script.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative:;
}

.landing .row {
  width: 100vw;
  margin: 0;
}

#landing-intro {
  margin-top: 8em;
  margin-left: 3em;
  color: white;
  font-family: Raleway;
}

#second-line { /* space between line and anchor*/
  margin-bottom: 1.5em;
}

#learn-more {
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: 10px;
  font-size: 2em;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#learn-more:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

#learn-more:focus {
  text-decoration: none;
}

.typed-cursor {
  display: none;
}

/*about section*/
#about {
  padding: 3em 2em;
  font-size: 120%;
  font-family: Raleway;
}

#about h5 {
  line-height: 2em;
}

.icons {
  margin: 0 1em;
  color: var(--main-color);
}

.tech {
  margin-top: 2em;
}


.parallax {
  height: 80vh;
  background-image: url("images/main.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


/*projects section*/
#projects {
  padding: 3em 2em;
  background-color: #eeeeee;
  font-family: Raleway;
}

/*each individual project container*/
.project-container {
  background-color: white;
  padding: 20px;
  box-shadow: 10px 10px 15px #888888;
  margin-top: 2em; 
  visibility: hidden;
  border-radius: 10px;
}

.project-container img {
  height: 26em;
}

.project-container p, .project-container a {
  line-height: 2.5;
}

.intro {
  margin-bottom: 2.2em;
}



.work-together{
  background-color: var(--main-color);
  color: var(--accent-color);
  padding: 5%;
  font-family: Raleway;
}

.work-together h2 {
  margin: 0;
}

.work-together p {
  font-size: 18px;
  /*margin: 1em 10em 0 10em;*/
  margin-top: 1em;
  line-height: 1.6em;
}

.work-together button {
  margin-top: 2em;
  border: 2px solid var(--accent-color);
  border-radius: 5em;
  background-color: var(--main-color);
  height: auto;
  width: 15em;
  font-size: 22px;
  padding: 0.45em 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.work-together button:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  width: 18em;
}
#xout {
  background-color: var(--accent-color);
  border: none;
  margin: .5em 1em 0 0;
  color: white;
  font-size: 2em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* entire modal*/
#lightboxForm {
  background-color: var(--accent-color);
  font-family: Raleway;
}

#form-messages {
  opacity: 0;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  position: absolute;
  text-align: center;
  margin-top: 10vh;
}

/*form container*/
.lightbox-form {
  margin-top: 5vw;
}

.modal {
  color: white;
}

.lightbox-form p {
  color: #9ba3a5;
}

.lightbox-form input, .lightbox-form textarea {
  display: inline;
  border: 2px solid white;
  background-color: var(--accent-color);
  margin-top: 2em;
  color: white;
}

.lightbox-form input:focus, .lightbox-form textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

.lightbox-form button {
  margin-top: 2.5em;
  border: 2px solid var(--main-color);
  border-radius: 5em;
  background-color: var(--accent-color);
  height: auto;
  width: 15em;
  font-size: 22px;
  padding: 0.45em 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.lightbox-form button:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
  width: 18em;
}

.remove {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*footer container*/
.footer {
  height: 25vh;
  background-color: var(--accent-color);
  color: var(--main-color);
  padding: 5%;
}



/* Media Queries*/
@media only screen and (min-width:320px) and (max-width: 374px) { /* Small mobile phones portrait */
  #landing-intro {
    margin-left: 0;
    margin-top: 15em;
  }
  #second-line {
    margin-bottom: 0.5em;
  }
  .landing, .code-back {
    background-attachment: scroll;
  }
  .landing .row {
    width: 100vw;
    margin: 0;
  }
  .project-container img {
    height: 12em;
    padding: 0;
  }
  .work-together .container {
    padding: 0;
  }
  #contact {
    margin-top: 1em;
  }
  #contact, #ajax-contact button {
    width: 80vw;
  }
  #contact:hover, #ajax-contact button:hover {
    width: 90vw;
  }
  .footer {
    height: 15vh;
  }
}

@media only screen and (min-width:375px) and (max-width: 479px) { /* Medium Mobile Portrait */
  #landing-intro {
    margin-top: 16em;
    margin-left: 0;
  }
  .landing .row {
    width: 100vw;
    margin: 0;
  }
  .landing, .code-back {
    background-attachment: scroll;
  }
  .project-container img {
    height: 12em;
    padding: 0;
  }
  #second-line {
    margin-bottom: 1.2em;
  }
  .work-together .container {
    padding: 0;
  }
  #learn-more {
    color: white;
    border-color: white;
  }
  #contact, #ajax-contact button {
    width: 80vw;
  }
  #contact:hover, #ajax-contact button:hover {
    width: 90vw;
  }
  .footer {
    height: 15vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { /* Tablets */
  #landing-intro {
    margin-top: 16em;
  }
  .landing .row {
    width: 100vw;
    margin: 0;
  }
  .landing, .code-back {
    background-attachment: scroll;
  }
  .project-container img {
    height: 18em;
    padding: 0;
  }
  .footer {
    height: 16vh;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
  #landing-intro {
    margin-top: 6em;
    margin-left: 5em;
  }
  #second-line {
    margin-bottom: 1em;
  }
  #learn-more {
    margin-left: 45%;
  }
  .project-container img {
    height: 20em;
  }
  .footer {
    height: 8em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  #landing-intro {
    margin: 16em 0 0 0;
  }
  .landing, .code-back {
    background-attachment: scroll;
  }
  .landing .row {
    width: 100vw;
    margin: 0;
  }
  .project-container {
    width: 95%;
  }
  .work-together {
    padding: 2em 0;
  }
  .footer{
    height: 20vh;
  }
}




